Smart Meter Texas HASS.json
[
    {
        "id": "f8297485.d32748",
        "type": "tab",
        "label": "Smart Meter Texas HASS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "229dbc53.b39f84",
        "type": "inject",
        "z": "f8297485.d32748",
        "name": "Retrieve Reading",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "1.0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "49de2e1c.6a2d7"
            ]
        ]
    },
    {
        "id": "f805b5.98485a48",
        "type": "change",
        "z": "f8297485.d32748",
        "name": "Apply HTTP Config",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "resultjson",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "headers.accept",
                "pt": "msg",
                "to": "application/json, text/plain, */*",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.accept-language",
                "pt": "msg",
                "to": "en-US,en;q=0.9",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.cache-control",
                "pt": "msg",
                "to": "no-cache",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.origin",
                "pt": "msg",
                "to": "https://www.smartmetertexas.com",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.pragma",
                "pt": "msg",
                "to": "no-cache",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.referer",
                "pt": "msg",
                "to": "https://www.smartmetertexas.com/home",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.user-agent",
                "pt": "msg",
                "to": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.authorization",
                "pt": "msg",
                "to": "token",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 460,
        "wires": [
            [
                "e8e5474956f5c253"
            ]
        ]
    },
    {
        "id": "45fd4f16.4d205",
        "type": "switch",
        "z": "f8297485.d32748",
        "name": "Status Complete",
        "property": "payload.data.odrstatus",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "COMPLETED",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 480,
        "wires": [
            [
                "f35231ec.019d9"
            ]
        ]
    },
    {
        "id": "8f12d0a3.66f63",
        "type": "change",
        "z": "f8297485.d32748",
        "name": "Apply HTTP Config",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "authjson",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "headers.accept",
                "pt": "msg",
                "to": "application/json, text/plain, */*",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.accept-language",
                "pt": "msg",
                "to": "en-US,en;q=0.9",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.cache-control",
                "pt": "msg",
                "to": "no-cache",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.origin",
                "pt": "msg",
                "to": "https://www.smartmetertexas.com",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.pragma",
                "pt": "msg",
                "to": "no-cache",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.referer",
                "pt": "msg",
                "to": "https://www.smartmetertexas.com/home",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.user-agent",
                "pt": "msg",
                "to": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "e89bdd629b4ba919"
            ]
        ]
    },
    {
        "id": "5a67264f.b0d4a8",
        "type": "change",
        "z": "f8297485.d32748",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "token",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 280,
        "wires": [
            [
                "197f7fb8.eb7b3"
            ]
        ]
    },
    {
        "id": "9e15d26d.67d59",
        "type": "debug",
        "z": "f8297485.d32748",
        "name": "Debug: Login",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 600,
        "y": 240,
        "wires": []
    },
    {
        "id": "4b59cb1f.0b6074",
        "type": "function",
        "z": "f8297485.d32748",
        "name": "Add Bearer",
        "func": "msg.payload = \"bearer \" + msg.payload.token;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 280,
        "wires": [
            [
                "5a67264f.b0d4a8"
            ]
        ]
    },
    {
        "id": "a33f45a0.ca8a88",
        "type": "inject",
        "z": "f8297485.d32748",
        "name": "Build JSON",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "4779bbf2.421be4"
            ]
        ]
    },
    {
        "id": "eca68eef.a7038",
        "type": "function",
        "z": "f8297485.d32748",
        "name": "Create Login JSON",
        "func": "msg.payload = {\n  \"username\": msg.username,\n  \"password\": msg.password,\n  \"rememberMe\": \"true\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 100,
        "wires": [
            [
                "39f969.672e1698"
            ]
        ]
    },
    {
        "id": "b72628a.cba9fd8",
        "type": "function",
        "z": "f8297485.d32748",
        "name": "Create Read Request JSON",
        "func": "msg.payload = {\n  \"ESIID\": msg.esiid,\n  \"MeterNumber\": msg.meternumber\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 140,
        "wires": [
            [
                "896ca32e.dd642"
            ]
        ]
    },
    {
        "id": "4f766b51.f67344",
        "type": "function",
        "z": "f8297485.d32748",
        "name": "Create Read Result JSON",
        "func": "msg.payload = {\n  \"ESIID\": msg.esiid\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 180,
        "wires": [
            [
                "33a32576.b8d44a"
            ]
        ]
    },
    {
        "id": "49de2e1c.6a2d7",
        "type": "switch",
        "z": "f8297485.d32748",
        "name": "Waiting for Response",
        "property": "readrequested",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 460,
        "wires": [
            [
                "f805b5.98485a48"
            ]
        ]
    },
    {
        "id": "f35231ec.019d9",
        "type": "change",
        "z": "f8297485.d32748",
        "name": "Not Waiting for Response",
        "rules": [
            {
                "t": "set",
                "p": "readrequested",
                "pt": "flow",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 480,
        "wires": [
            [
                "3390bb24a486cf78"
            ]
        ]
    },
    {
        "id": "39f969.672e1698",
        "type": "change",
        "z": "f8297485.d32748",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "authjson",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "896ca32e.dd642",
        "type": "change",
        "z": "f8297485.d32748",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "readjson",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "33a32576.b8d44a",
        "type": "change",
        "z": "f8297485.d32748",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "resultjson",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "8a692061.c38d8",
        "type": "switch",
        "z": "f8297485.d32748",
        "name": "Request Good",
        "property": "payload.data.statusReason",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Request submitted successfully for further processing",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 660,
        "y": 380,
        "wires": [
            [
                "41ccc9f0.cb5378"
            ]
        ]
    },
    {
        "id": "41ccc9f0.cb5378",
        "type": "change",
        "z": "f8297485.d32748",
        "name": "Waiting for Response",
        "rules": [
            {
                "t": "set",
                "p": "readrequested",
                "pt": "flow",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "ba8a2ae2.a4c338",
        "type": "debug",
        "z": "f8297485.d32748",
        "name": "Debug: Get Reading",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 960,
        "y": 440,
        "wires": []
    },
    {
        "id": "a411cabf.0a9678",
        "type": "change",
        "z": "f8297485.d32748",
        "name": "Apply HTTP Config",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "readjson",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "headers.accept",
                "pt": "msg",
                "to": "application/json, text/plain, */*",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.accept-language",
                "pt": "msg",
                "to": "en-US,en;q=0.9",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.cache-control",
                "pt": "msg",
                "to": "no-cache",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.origin",
                "pt": "msg",
                "to": "https://www.smartmetertexas.com",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.pragma",
                "pt": "msg",
                "to": "no-cache",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.referer",
                "pt": "msg",
                "to": "https://www.smartmetertexas.com/home",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.user-agent",
                "pt": "msg",
                "to": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.authorization",
                "pt": "msg",
                "to": "token",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 360,
        "wires": [
            [
                "52e49f9332a5a83f"
            ]
        ]
    },
    {
        "id": "616cab00.8d1ed4",
        "type": "debug",
        "z": "f8297485.d32748",
        "name": "Debug: Read Meter",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 680,
        "y": 340,
        "wires": []
    },
    {
        "id": "197f7fb8.eb7b3",
        "type": "debug",
        "z": "f8297485.d32748",
        "name": "Debug: Auth Token",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 950,
        "y": 280,
        "wires": []
    },
    {
        "id": "4779bbf2.421be4",
        "type": "credentials",
        "z": "f8297485.d32748",
        "name": "Credentials",
        "props": [
            {
                "value": "username",
                "type": "msg"
            },
            {
                "value": "password",
                "type": "msg"
            },
            {
                "value": "esiid",
                "type": "msg"
            },
            {
                "value": "meternumber",
                "type": "msg"
            }
        ],
        "x": 270,
        "y": 140,
        "wires": [
            [
                "eca68eef.a7038",
                "b72628a.cba9fd8",
                "4f766b51.f67344"
            ]
        ]
    },
    {
        "id": "605199a9.192288",
        "type": "cronplus",
        "z": "f8297485.d32748",
        "name": "Read Meter",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "0 min past the hour",
                "topic": "0 min past the hour",
                "payloadType": "str",
                "payload": "",
                "expressionType": "cron",
                "expression": "0  * * * * ",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 110,
        "y": 360,
        "wires": [
            [
                "a411cabf.0a9678"
            ]
        ]
    },
    {
        "id": "952a9f1b.63456",
        "type": "cronplus",
        "z": "f8297485.d32748",
        "name": "Authenticate",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "56 min past the hour",
                "topic": "56 min past the hour",
                "payloadType": "str",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 56 * * * * ",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 110,
        "y": 260,
        "wires": [
            [
                "8f12d0a3.66f63"
            ]
        ]
    },
    {
        "id": "3390bb24a486cf78",
        "type": "ha-sensor",
        "z": "f8297485.d32748",
        "name": "SMT Current Reading",
        "entityConfig": "8e5e4167.3de6a",
        "version": 0,
        "state": "payload.data.odrread",
        "stateType": "msg",
        "attributes": [
            {
                "property": "odr_date",
                "value": "payload.data.odrdate",
                "valueType": "msg"
            },
            {
                "property": "odr_usage",
                "value": "payload.data.odrusage",
                "valueType": "msg"
            }
        ],
        "inputOverride": "block",
        "outputProperties": [],
        "x": 1400,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "e89bdd629b4ba919",
        "type": "http request",
        "z": "f8297485.d32748",
        "name": "Log In",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://www.smartmetertexas.com/commonapi/user/authenticate",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 260,
        "wires": [
            [
                "9e15d26d.67d59",
                "4b59cb1f.0b6074"
            ]
        ]
    },
    {
        "id": "52e49f9332a5a83f",
        "type": "http request",
        "z": "f8297485.d32748",
        "name": "Request Read",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://www.smartmetertexas.com/api/ondemandread",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 480,
        "y": 360,
        "wires": [
            [
                "616cab00.8d1ed4",
                "8a692061.c38d8"
            ]
        ]
    },
    {
        "id": "e8e5474956f5c253",
        "type": "http request",
        "z": "f8297485.d32748",
        "name": "Request Read",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://www.smartmetertexas.com/api/usage/latestodrread",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 740,
        "y": 460,
        "wires": [
            [
                "ba8a2ae2.a4c338",
                "45fd4f16.4d205"
            ]
        ]
    },
    {
        "id": "8e5e4167.3de6a",
        "type": "ha-entity-config",
        "server": "3770e0fb.cd247",
        "deviceConfig": "3ef474cded84377d",
        "name": "sensor config for SMT Current Reading",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "SMT Current Reading"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "energy"
            },
            {
                "property": "unit_of_measurement",
                "value": "kWh"
            },
            {
                "property": "state_class",
                "value": "total_increasing"
            }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "3770e0fb.cd247",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    },
    {
        "id": "3ef474cded84377d",
        "type": "ha-device-config",
        "name": "Electric Meter",
        "hwVersion": "",
        "manufacturer": "Oncor",
        "model": "",
        "swVersion": ""
    }
]